body{background-color: rgb(235, 210, 178);}
        .box1{
            height: 700px;
            width: 1000px;
            position: relative;            
            margin: auto auto;
            font-size: 20px;
        }
        .box2{
            text-align: center;
            margin-bottom: 20px ;
        }
        div > p:nth-child(-n+3){
            display: inline;
            margin-right: 20px;
            text-decoration: underline;
        }
        .requirementText,.howIsMadeText{
            display: inline;
            background-color: rgb(122, 77, 56);
            color: whitesmoke;
            border-radius: 10px;           
        }
        .lastText{
            position: absolute;
            right: 20px;
        }
        .tagColor{
            color: rgb(122, 77, 56);
        }